video { 
    width: 60%;
    height: auto;
    -webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
    box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
 }


.logo-container{
    position: fixed;
    width: 7%;
    top: 1vh;
    left: 15px;
}

#vid {
    filter: grayscale(30%) contrast(100%);
}

#canv {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 1);
}

.buttons-row {
    display: flex;
    margin-top: 40px;
}

#plus, #minus, #share, #watch, #start-own {
    transition: .3s;
    font-weight: 600;
    padding: 10px 45px;   
    background-color: white;
    color: rgb(100, 100, 100);
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
    box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
}
#minus{
    margin-left: 50px;
}

#watch {
    margin-left: 40px;
}

#minus:hover, #minus:active, #minus:focus,
#plus:hover, #plus:active, #plus:focus,
#share:hover, #share:active, #share:focus,
#watch:hover, #watch:active, #watch:focus {
    outline: none;
}

#plus:hover, #minus:hover, #share:hover, #watch:hover, #start-own:hover{
    color: black;
    transform: translate(0,-1px);
}

#canvout {
    margin-top: 0px;
}

.share-buttons-row {
    display: none;
    margin-top: 70px;
}




#pass-my-own {
    display: none;
    margin-top: 0px;
}

#start-own:hover, #start-own:active, #start-own:focus {
    outline: none;
}


#url-row {
    display: none;
    margin-top: 20px;
}

#social-networks-row {
    display: none;
    margin-top: 20px;
    font-size: 30px;
}
#social-networks-row > div{
    margin-left: 30px;
    cursor: pointer;
}
#social-networks-row > div:nth-child(1){
    margin-left: 0;
}
#social-networks-row > div:nth-child(1) *, #vk-2 *{
    fill: #45668e;
}
#social-networks-row > div:nth-child(2) *, #fb-2 *{
    fill: #3b5998;
}
#social-networks-row > div:nth-child(3) *{
    fill: #a0009f;
}
.fa-heart, .fa-frown {
    font-size: 56px;
}
.fa-heart *, .fa-frown *{
    fill: #a0009f;
}

#url, #url-2 {
    padding: 12px;
    font-size: 14px;
    border: none;
    width: 300px;
    border-radius: 10px;
    color: rgb(80,80,80);
    -webkit-box-shadow: inset 1px 1px 7px .5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 7px 1px rgba(0,0,0,0.1);
    box-shadow: inset 1px 1px 7px 1px rgba(0,0,0,0.1);
}

#url:hover, #url:active, #url:focus, #url-2:hover, #url-2:active, #url-2:focus {
    outline: none;
}

button {
    user-select: none;
}

#slider-row {
    position: relative;
    margin-top: 30px;   
    height: 20px;
    display: flex;
    align-items: center; 
}

#heart-icon-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -15px;
    left: -80px;
}

img {
    max-width: 100%;
}

#face-icon-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -15px;
    right: -80px;
}

/* modal styles start*/

#modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.35s ease-in;
}

#modal-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.2);
}

#modal {
    z-index: 2;
    
    padding: 30px 50px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal-text {
    font-size: 16px;
    text-align: center;
    color: rgba(40, 40, 40, 1);
    max-width: 300px;
    text-align: justify;

}

#modal-button {
    margin-top: 40px;
    background-color: #a0009f;
    border: 1px solid #a0009f;
    font-size: 18px;
    color: white;
    width: 130px;
    height: 40px;
    cursor: pointer;

}

#modal-button:hover, #modal-button:active, #modal-button:focus {
    outline: none;
}

/**shared modal */

#shared-modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
    opacity: 1;
    transition: opacity 0.35s ease-in;
}

#shared-modal-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.2);
}

#shared-modal {
    z-index: 2;
    
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#shared-modal-text {
    font-size: 16px;
    text-align: center;
    color: rgba(40, 40, 40, 1);
    max-width: 200px;

}

#shared-modal-button {
    margin-top: 40px;
    background-color: #a0009f;
    border: 1px solid #a0009f;
    font-size: 18px;
    color: white;
    width: 130px;
    height: 40px;
    cursor: pointer;

}

#shared-modal-button:hover, #shared-modal-button:active, #shared-modal-button:focus {
    outline: none;
}

/* modal styles end*/


/* slider styles start */

#slider {
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: none;
    
    /*required for proper track sizing in FF*/
    width: 40vw;
    border-radius: 6px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 40vw;
    height: 14px;
    background: #ddd;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: inset 1px 1px 3px .5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 3px .5px rgba(0,0,0,0.1);
    box-shadow: inset 1px 1px 3px .5px rgba(0,0,0,0.1);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: white;
    margin-top: -6px;
    -webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 40vw;
    height: 14px;
    background: #ddd;
    border: none;
    border-radius: 6px;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: white;
    margin-top: -6px;
    -webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 40vw;
    height: 14px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: white;
    margin-top: -6px;
    -webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.1);
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
/* slider styles end */

@media screen and (max-width: 600px){
    #modal {
        height: 100%;
        width: 100%;
    }
    video{
        width: 96%;
    }
    .logo-container{
        width: 80px;
        left:50%;
        transform: translate(-50%);
    }
    input[type=range]{
        width: auto;
    }
    #plus, #minus, #share {
        padding: 12px 20px;
    }

    #share-buttons-row {
        flex-direction: column;
    }

    #watch {
        margin-left: 0;
        margin-top: 30px;
    }
    
    #heart-icon-wrapper {
        width: 30px;
        height: 30px;
        top: -5px;
        left: -55px;
    }
    
    img {
        max-width: 100%;
    }

    #face-icon-wrapper {
        position: absolute;
        width: 30px;
        height: 30px;
        top: -5px;
        right: -40px;
    }

    .fa-heart, .fa-frown {
        font-size: 40px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 8px;
    }
    input[type=range]::-webkit-slider-thumb {
        height: 16px;
        width: 16px;
        margin-top: -4px;
    }
    input[type=range]::-moz-range-track {
        height: 8px;
    }
    input[type=range]::-moz-range-thumb {
        height: 16px;
        width: 16px;
        margin-top: -4px;
    }
    
    input[type=range]::-ms-track {
        height: 8px;
    }
    input[type=range]::-ms-thumb {
        height: 16px;
        width: 16px;
        margin-top: -4px;
    }
    #url-2{
        width: 200px;
    }
}

#share-site {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#share-site-button {
    transition: .3s;
    font-weight: 600;
    padding: 10px 45px;   
    background-color: white;
    color: rgb(100, 100, 100);
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
    box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
}

#share-site-button:hover, #share-site-button:active, #share-site-button:focus {
    outline: none;
}

#share-site-button:hover {
    color: black;
    transform: translate(0,-1px);
}

#vk-2, #fb-2, #url-2{
    display: none
}
#vk-2-i, #fb-2-i {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
